@model IEnumerable<Imagens.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<p>
    <a class="btn btn-outline-primary" asp-action="create">
        Inserir Produto
    </a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="align-middle">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                @{
                    try
                    {
                        var base64 = Convert.ToBase64String(@item.Foto);
                        if (!string.IsNullOrEmpty(base64))
                        {
                            var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                            <img class="img-fluid" src="@imgSrc" width="100" />
                        }
                    }
                    catch
                    {
                        <img class="img-fluid" src="https://triunfo.pe.gov.br/pm_tr430/wp-content/uploads/2018/03/sem-foto.jpg" width="100">
                    }
                }
                </td>
                <td class="text center">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
